
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3F1FF;
}
/* header area styling */
.nav-area{
     background-color: #562EFF;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.logo{
    width: 40px;
    height: 51px;
    padding-left: ;
}
.menu-area {

}
.menu {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    gap:20px;
    padding: 20px;
}
.menu li{
    font-weight: bold;
}
    
/* main section styling */

/* player section styling */
.players-top{
    width: 870px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.players-container {
    display: grid;
 grid-template-columns:repeat(3, 1fr);
 grid-gap: 20px;
 margin: 20px;
 font-family: 'Poppins', sans-serif;
}

.players-title{
font-weight: 500px;
font-family: 'Poppins', sans-serif;
color:#562EFF
}
.players{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.players-image{
    height: 56px;
    width: 56px;
}
